.dark{
    --main: #000;
    --opp: #fff;
    --font-main: #9f9f9f;
    --accent-color: #444ce7;
    --hover: #2a2d2e;

    //navbar
    --navbar-bg: #333333;

    //sidebar
    --sidebar-bg: #252526;
    --dropdown-bg: #181717;

    //output
    --output-bg: #1E1E1E;
    --border-bg: #414141;
    --file: #2d2d2d;
    --selected-file: #1e1e1e;
    --code-main: #5b5b5b;

    //tasks table
    --table-border: #303030;
    --th-bg: #1f1f1f;
    --td-color: rgb(189, 189, 189);
    --tr: #181717;
    --tr-even: #292929;
    --tr-hover: #383838;
}