.light{
    --main: #fff;
    --opp: #000;
    --font-main: #6a6a6a;
    --accent-color: #444ce7;
    --hover: #dddddd;

    //navbar
    --navbar-bg: #cecece;

    //sidebar
    --sidebar-bg: #f3f3f3;
    --dropdown-bg: #e2dfdf;

    //output
    --output-bg: #ffffff;
    --border-bg: #d3d3d3;
    --file: #ececec;
    --selected-file: #ffffff;
    --code-main: #5b5b5b;

    //tasks table
    --table-border: #d3d3d3;
    --th-bg: #f0f0f0;
    --td-color: #333333;
    --tr: #ffffff;
    --tr-even: #f7f7f7;
    --tr-hover: #e0e0e0;

}